:root{
    --black:#000000;
--brand-red: #f00;
--white:#ffffff;
--sky-blue:#1293D4;
--gray:#57595C;
--green:#00A651;
--light-green:#e1ffef;
--black-sads:#2f2c2c;
--light-blue:#0062cc;
--light-gray:#727476;
--gray-sads:#F9F9F9; 
--extra-light-gray:#72747680;   
--black-sads:#222;
--light-green:#f6fafd;
--gray-sads-2:#f0f5f9;
--pink:#fb93ae;
--light-pink:#ffedef;
--blue-sads:#dfe9ff;
--light-border:#dbdbdb;
--black-sads-light:#0e0808;
}